{:paths ["src" "test"]
 :tasks
 {test:bb {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                    :task cognitect.test-runner/-main}

  format {:doc "Check formatting"
          :task (clojure "-M:format")}

  lint {:doc "Lint code"
        :task (clojure "-M:lint")}

  test {:doc "Run tests"
        :task (clojure "-M:test")}

  test:textarea {:doc "Run textarea component tests only"
                 :task (clojure "-M:test" "--namespace" "charm.components.textarea-test")}

  test:markdown {:doc "Run markdown renderer tests only"
                 :task (clojure "-M:test" "--namespace" "charm.render.markdown-test")}

  test:components {:doc "Run textarea + markdown component tests"
                   :depends [test:textarea test:markdown]}

  build {:doc "Build jar"
         :task (clojure "-T:build jar")}

  ci {:doc "Run ci"
      :depends [test format lint build]}}}
