{:tasks
 {clean {:doc "Remove build artifacts"
         :task (do
                 (println "Cleaning target directory...")
                 (babashka.fs/delete-tree "target")
                 (println "Done."))}

  uber {:doc "Build uberjar for an example: bb uber <name>"
        :task (let [example (first *command-line-args*)]
                (if (nil? example)
                  (do
                    (println "Usage: bb uber <example-name>")
                    (println)
                    (println "Available examples:")
                    (doseq [f (sort (babashka.fs/glob "src/examples" "*.clj"))]
                      (let [name (-> (str f)
                                     (clojure.string/replace #".*/examples/" "")
                                     (clojure.string/replace #"\.clj$" "")
                                     (clojure.string/replace "_" "-"))]
                        (println (str "  " name))))
                    (System/exit 1))
                  (shell {:dir "."} "clojure" "-T:build" "uber" (str ":example " example))))}

  native {:doc "Build native image: bb native <name>"
          :task (let [example (first *command-line-args*)]
                  (if (nil? example)
                    (do
                      (println "Usage: bb native <example-name>")
                      (println "       (requires GraalVM native-image)")
                      (System/exit 1))
                    (do
                      (shell "native-image"
                             "-jar" (str "target/" example ".jar")
                             "-o" (str "target/" example)))))}

  all {:doc "Clean and build uberjar: bb all <name>"
       :task (let [example (first *command-line-args*)]
               (run 'clean)
               (shell "clojure" "-T:build" "uber" (str ":example " example)))}}}
